<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Document</title>
 </head>
 <body>
  <br/>
  <div>Dear ${user.firstName},</div>
  &nbsp;&nbsp;&nbsp;<div>Greetings from the iPerformCconnect group!!!</div>&nbsp;&nbsp;&nbsp;<div>
  Click on below image to activate your account</div><br/>
  <div><a href="${user.url}?token=${user.encryptedToken}">Activate</a></div><br/>
  <div>Also you can copy paste below link to \your browser to activate your account</div><br/>
  <div><a href="${user.url}?token=${user.encryptedToken}">
  http://www.flp.com/activateUserAccount.htm?token=${user.encryptedToken}</a></div>
  <br/><div style="align:center">HAPPY LEARNING WITH IPERFORMCONNECT GROUP</DIV>
 </body>
</html>
